body{
  font-family: 'Raleway', sans-serif;
  background-color:rgb(23, 26, 26);
  color: blanchedalmond;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  height: 25rem;
  
}

.btn {
  transition-duration: 0.4s;
  width: 170px;
  height: 6vh;
  border-radius: 8px;
  font-size: 15px;
  border-radius: 12px;
  
}
.btn:hover {
  background-color: crimson;
  color: white;
  cursor: pointer;
}

.icon-btn{
  cursor: pointer;
  margin: 50px;
  width: 5px;
  
}



